# Recommended python version for current mlrun is 3.11 https://docs.mlrun.org/en/stable/setup-guide.html
# in the above version, that was for mlrun 1.6 - mistake on my part
# python 3.11 is required for sagemaker >=3.0.0
mlrun==1.10.2
mlrun[s3]==1.10.2
sagemaker==2.250.0
transformers==4.56.2 # transformers 4.56.2 is not too old for qwen3 tokenizer
dotenv==0.9.9
ipython==8.39.0
rouge-score==0.1.2
# # HF libraries
