# You have to use python 3.9 for the client and server (using 3.9.13 on windows)
# https://docs.mlrun.org/en/v1.6/install/remote.html#set-up-a-python-3-9-client-environment
# py -3.9 -m venv .venv
sagemaker=2.250.0
mlrun==1.10.2
mlrun[s3]==1.10.2
kfp==1.8.22